* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #171a28;
  font-family: "M Plus 1", sans-serif;
}

html {
  scroll-behavior: smooth;
}
.desktop {
  display: none;
}

@media (min-width: 1200px) {
  .desktop {
    display: initial;
  }
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

a.logo {
  height: 12px;
  width: 100px;
  color: inherit;
}

header a {
  color: inherit;
}
header nav a {
  text-decoration: none;
  padding: 5px 10px;
}

header nav.center {
  text-align: center;
}

header nav.right {
  text-align: right;
}

.section_1 {
  /* model3 */
  background-image: url("../images/Model_3_Desktop.avif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.section_2 {
  /*modely */

  background-image: url("../images/Model_Y_Desktopavif.avif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.section_3 {
  background-image: url("../images/Model_S_Desktop.avif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.section_4 {
  background-image: url("../images/Model_X_Desktop.avif");
  height: 100vh;
  /* width: 100%; */
  background-size: cover;
  background-position: center center;
}

.section_5 {
  background-image: url("../images/Solar_Panels_Desktop.avif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.section_6 {
  background-image: url("../images/Solar_Roof_Desktop.avif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.section_7 {
  background-image: url("../images/Solar_Roof_Desktop.avif");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

section .content {
  width: 100%;
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
  text-align: center;
  display: grid;
  grid-template-rows: min-content auto min-content;
}
section h1 {
  font-size: 3rem;
}

section a {
  color: inherit;
}

section .buttons a {
  display: block;
  background-color: #eee;
  color: inherit;
  padding: 12px 50px;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-style: 12px;
  font-weight: 500;
}
section .buttons a:first-child {
  background-color: #444;
  color: #fff;
}
section .buttons {
  display: grid;
  row-gap: 20px;
  margin: 0 40px;
}
@media (min-width: 768px) {
  section .buttons {
    max-width: 640px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

aside {
  position: fixed;
  transition: right 0.8s ease;
  right: -320px;
  width: 320px;
  background-color: #fff;
  padding: 80px 40px;
  z-index: 4;
  height: 100vh;
}

aside.active {
  right: 0;
}

aside a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 500;
}

aside button.close {
  font-size: 24px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-family: sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
}

.backdrop.active {
  display: block;
}
